.login table{
    background-color: rgb(236, 226, 113);
    text-align: center;
    font-size: 15px;
    width: 35%;
    padding: 20px;
    margin-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: auto;
    margin-right: auto;
}
.login input[type=submit]{
    padding: 10px 5px;
    color: white;
    border-radius: 2px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: hsl(221, 94%, 28%);
    border: none;
    cursor: pointer;
    opacity: 0.8;
}
.login input[type=submit]:hover{
    opacity: 1.0;
}
.login input[type=text], [type=password]{
    width: 100%;
    padding: 5px;
    margin: 2px 0px;
    border-radius: 4px;
    background-color: white;
    text-align: left;
    border: 1px solid #ccc
}
.login td{
    background-color: rgb(236, 226, 113);
    font-size: 15px;
    border: 0px ;


}
.login th{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    text-align: left;
    padding: 5px;
    font-weight: bold;
}

.register a:link, a:visited{
    color:hsl(221, 94%, 28%);
    text-decoration: none;
}
body {
    background-color: #ddd;
    background-repeat:no-repeat;
    background-size:cover;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}